---
layout: page
title: 부대시설
cover: 01-0248.jpg
---

<div class="jumbotron bg-cover" style="background-image: url('/assets/facilities/{{ page.cover }}'); background-position: center">
  <div class="container">
    <h1><span class="bg-primary">{{ page.title }}</span></h1>
  </div>
</div>

<div class="container" style="background-color: #eee;">
  <div class="col-md-12">
    <p>&nbsp;</p>
    <blockquote>
      모노가든 일층에는 제주 흑돼지 안심으로 만든 수제 돈카츠 커리등을 맛 볼수 있는 심바카레 에서 생맥주와 음료를 즐길 수 있으며,<br>
      바로 옆에는 가로수길에서 오랜 사랑을 받았던 프랑스 크레프 전문점 모리나에서 준비한 깊고 맛있는 커피와 새롭게 준비한 새로운 레서피의 바나나 케잌을 드시며 여유를 즐기시기 바랍니다.
    </blockquote>
    {% capture room_dir %}/assets/facilities/{% endcapture %}
      {% for file in site.static_files %}
        {% if file.path contains room_dir %}
        <p class="m-y-2"><img src="{{ file.path }}" alt="" class="img-fluid center-block" /></p>
        {% endif %}
      {% endfor %}
  </div>
</div>
