<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification }}" />{% endif %}
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" href="{{ site.url }}/en" hreflang="en">
    <link rel="stylesheet" href="/assets/main.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <style>
      * {
        font-family: 'Nanum Square', 'Malgun Gothic' !important;
      }
    </style>
    <![endif]-->
  </head>
  <body{% if page.url %} class="{{ page.url | replace:'/',' ' | lstrip | rstrip }}{% if page.url == '/' %}front{% endif %}"{% endif %}>
    {% include ga.html %}

    {{ content }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <script>
      WebFontConfig = {
        google: {
          families: ['Quicksand:100', 'Roboto:100', 'Lato:100,900']
        },
        custom: {
          families: [
            'Noto Sans KR:n1,n4,n7',
            'Nanum Square:n4,n7',
            'FontAwesome'
          ],
          urls: [
            '//fonts.googleapis.com/earlyaccess/notosanskr.css',
            '//cdn.jsdelivr.net/font-nanumsquare/1.0.0/nanumsquare.css',
            '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
          ]
        },
        active: function() {
          sessionStorage.fonts = true;
        }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
